@model CookBookApp.Models.Binding.AddRecipeBindingModel
@{
    ViewData["Title"] = "Create Recipe";
}

<h1>Add a Recipe</h1>

<p>
    <a asp-action="CreateRecipe">Add a new Receipe to the CookBookApp</a>
</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateRecipe">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoServing" class="control-label"></label>
                <input asp-for="NoServing" class="form-control" />
                <span asp-validation-for="NoServing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrepTime" class="control-label"></label>
                <input asp-for="PrepTime" class="form-control" />
                <span asp-validation-for="PrepTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredient" class="control-label"></label>
                <input asp-for="Ingredient" class="form-control" />
                <span asp-validation-for="Ingredient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Method" class="control-label"></label>
                <input asp-for="Method" class="form-control" />
                <span asp-validation-for="Method" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageURL" class="control-label"></label>
                <input asp-for="ImageURL" class="form-control" />
                <span asp-validation-for="ImageURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Recipes</a>
    @*<a href="https://localhost:44334/Recipes">View recipes</a>*@
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
